.sneaker-container {
    margin-left: 100px;
    max-width: 600px;
    text-align: left;
    margin-top: 50px; /* Ajustez cette marge pour déplacer vers le bas */
}

.sneaker-image{
    transform: scale(4);
    margin-left: 300px;
    margin-top:150px;
    max-width: 100%; 
    max-height: 200px;
    object-fit: contain; 
    display: block;
}

.sneaker-name{
    margin-left: 100px;
    margin-top: 100px;
    font-weight: 400;
}

.sneaker-category{margin-left: 100px;
    font-weight: 400;}

.sneaker-release{
    margin-left: 100px;
    font-weight: 400;
}

