.navbar {
    background-color: #333;
    color: white;
    padding: 5px 5px;
    width: 100%; /* Faites en sorte que la barre de navigation occupe toute la largeur */
    position: fixed; /* Fixez la barre de navigation en haut de l'écran */
    top: 0; /* Alignez-la au bord supérieur de l'écran */
    z-index: 1000; /* Assurez-vous qu'elle est au-dessus de tout autre contenu */
  }
  
  .navbar-container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav-menu {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: flex-end; /* Alignez les éléments de menu à droite */
  }
  
  .nav-item {
    margin-left: 20px; /* Marge à gauche pour les éléments de menu */
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  